/* Reset some default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.navbar-menu li a:hover {
  background-color: #555;
}

#root {
  padding: 10px;
}
